venv
.idea
db.sqlite3
__pycache__
*.pyc
.env.development
.env.production
.env.production.db
.env.production.proxy-companion
.env.staging
.env.staging.db
.env.staging.proxy-companion
.vscode
mediafiles
.DS_Store