<h1>Articles List</h1>

<hr>
{% if request.user.is_authenticated %}
    <h4>Logged in user: {{ request.user }}</h4>
{% else %}
    <h4>User is not logged in</h4>
{% endif %}
<hr>

<a href="{% url 'article-new' %}">New Article</a>

<table>
    <tr>
        <th>Articles</th>
    </tr>
    {% for article in articles %}
        <tr>
            <td>Title: {{ article.title }}</td>
            <td>Content: {{ article.body }}</td>
            <td><a href="{% url 'article' article.id %}">View</a></td>
            <td><a href="{% url 'article-edit' article.id %}">Edit</a></td>
            <td><a href="{% url 'article-delete' article.id %}">Delete</a></td>
        </tr>
    {% empty %}
        <h3>No Articles in list</h3>
    {% endfor %}
</table>
