{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <div class="component-container">
        {% for article in articles %}
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ article.image.url }}" alt="some image" width="300">
                            <span class="card-title">{{ article.title }}</span>
                        </div>
                        <div class="card-content">
                            <div class="article-meta-info">
                                <p>Author: {{ article.author }}</p>
                                <p>Date: {{ article.created_at|date:'d M Y' }}</p>
                            </div>
                            <p>{{article.body}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'article' article.id %}">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div>
                <h3>No Articles in list</h3>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
{% endblock content %}

